<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045159213978-r8n3v8rjsr481c97975vo1oq8271ah13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045159213978-r8n3v8rjsr481c97975vo1oq8271ah13</string>
	<key>API_KEY</key>
	<string>AIzaSyBIajsSyT2-AaRXBUjU_UZbckZb8leMgeg</string>
	<key>GCM_SENDER_ID</key>
	<string>1045159213978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thapelo.Job-Crunch---Job-Finder</string>
	<key>PROJECT_ID</key>
	<string>job-crunch</string>
	<key>STORAGE_BUCKET</key>
	<string>job-crunch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045159213978:ios:6a47a788b82c581c645823</string>
	<key>DATABASE_URL</key>
	<string>https://job-crunch.firebaseio.com</string>
</dict>
</plist>